body {
    align-content: center;
    background: rgb(2, 1, 10);
    background: linear-gradient(0deg, rgba(2, 1, 10, 1) 0%, rgba(16, 52, 69, 1) 35%, rgba(35, 119, 136, 1) 100%);
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color: white;
}

h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

li {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    display: block;
    margin: auto;
}